@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-5">Client CSC API</h5>
    <p></p>
</div>

<div>
    <p style="text-align:center">Aplicatie de semnare electronica a documentelor. </p>
    <p style="text-align:center">Transsped</p>
</div>

<div>
   
    <div>
     <p style="text-align:center"><a href="http://localhost:8080/api/oauth2" class="btn btn-info" role="button">OAuth2 Login - Transsped</a></p>
    </div>
</div>

