@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p>descriere diverse</p>
    <p>undeva in dreapta sus sa am button de login</p>
</div>

<div class="row col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a href="http://localhost:8080/api/oauth2" class="btn btn-info" role="button">OAuth2 Login - Transsped</a>
    </div>
</div>

